@{
    ViewBag.Title = "Página principal";
    ViewBag.Active = "Home";
}

<!--@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Para obtener más información sobre ASP.NET MVC, visite
                <a href="http://asp.net/mvc" title="Sitio web de ASP.NET MVC">http://asp.net/mvc</a>.
                La página incluye <mark>vídeos, cursos y ejemplos</mark> para ayudarle a sacar el máximo partido a ASP.NET MVC.
                Si tiene alguna pregunta relacionada con ASP.NET MVC, visite
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="Foro de ASP.NET MVC">nuestros foros</a>.
            </p>
        </div>
    </section>
}-->

<div class="hero-unit">
    <h2>@ViewBag.Message</h2>
    <p>This is a template to demonstrate the way to beautify the default MVC3 
        template using Twitter Bootstrap website. It is pretty simple and easy.</p>
    <p><a href="http://asp.net/mvc" class="btn btn-primary btn-large" 
      style="color: White;">To learn more about ASP.NET MVC visit &raquo;</a></p>
    <p>PRUEBA!</p>
</div>

